.footer {
    background-color: #000000;
    color: white;
}
.content {
    font-style: italic;
    color: gray;

    h3 {
        padding: 0;
        text-transform: uppercase;
        color: white;
        font-size: larger;
    }
}
