@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    :last-child {
        > :nth-child(3) {
            height: 15rem;
            // padding: 0.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    img {
        width: 100%;
    }
    p {
        color: gray;
        font-size: 0.9rem;
    }
    h1 {
        font-weight: bolder;
        font-size: x-large;
    }
}

.quantity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 20rem;
    position: relative;

    .buttonQuantity {
        position: absolute;
        display: flex;
        align-items: center;
        right: 7rem;
        top: 0;
        z-index: 10;
        input,
        button {
            text-align: center;
            border: transparent;
            height: min-content;
        }
        input {
            width: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .quantity {
        button {
            width: 100%;
        }
        .buttonQuantity {
            right: 0rem;
        }
    }
}
