@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    :last-child {
        > :nth-child(3) {
            height: 15rem;
            // padding: 0.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    img {
        width: 100%;
    }
    p {
        color: gray;
        font-size: 0.9rem;
    }
    h1 {
        font-weight: bolder;
        font-size: x-large;
    }
}
.quantity-control {
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    background: transparent;
    border-radius: 10px;
    padding: 1rem 0.4rem;
}

.quantity-btn {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0px 8px;
    cursor: pointer;
    svg {
        width: 15px;
        height: 15px;
    }
}

.quantity-input {
    outline: none;
    user-select: none;
    text-align: center;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
